body {
  text-align: center;
}

h1, h2 {
  font-family: 'Covered By Your Grace', cursive;
}

h1 {
  font-size: 3em;
}

h2 {
  display: inline-block;
  padding-top: 1%;
}

section.cat {
  display: inline-block;
  width: 405px;
  height: 600px;
}

section.text {
  vertical-align: top;
  padding-top: 10%;
  display: inline-block;
}

/*div.menu {
  background-color: brown;
  opacity: .5;
*/

main.errrthing {
  padding: 5%;
}

#cat_body {
  width: 405px;
  height: 600px;
  position: absolute;
}

#left_eye {
  margin-left: 23%;
  margin-top: 22%;
}

#right_eye {
  margin-left: 40%;
  margin-top: 22%;
}

#right_eye, #left_eye {
  width: 30px;
  height: 25px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
}

#pupil {
  position: relative;
  width: 6px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  margin-left: 40%;
  margin-top: 1%;
}

#nose {
  width: 20px;
  height: 8px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
  margin-left: 33%;
  margin-top: 30%;
}